<DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>LHS Machine availability</title>
    </head>
    <body>
{% if machines %}
        <h1>Leeds Hackspace Machine Status : </h1>
        <ul>
{% for machine in machines %}
            <li> {{ machine.machinename }} is <div style="display: inline-block;background-color: #{{ machine.color }}">&nbsp;{{ machine.status }}&nbsp;</div> as reported by {{ machine.statusby }} at {{ machine.statuswhen }}</li>
{% endfor %}
        </ul>
{% else %}
        <h1>No machines available!</h1>
{% endif %}
    </body>
</html>
